<div class="mx-4 my-2 border-2 px-8 py-8 shadow">
    <div class="flex gap-12">
        <img class="flex-none flex rounded-full basis-12 w-12 h-12" src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" />

        <div class="flex-grow flex flex-col">
            <div class="font-thin">
                <span class="font-bold">Elon Musk</span>
                <span>elonmusk</span>
                <span>·</span>
                <span>21h</span>
            </div>
            <p>Instagram makes people depressed & Twitter makes people angry. Which is better?</p>
        </div>
    </div>

    <div class="flex flex-row justify-evenly mt-4 text-gray-500">
        <button>Views</button>
        <button>Comments</button>
        <button>Rekweets</button>
        <button>Likes</button>
        <button>Share</button>
    </div>
</div>


@code {

}
