<div class="flex gap-12 mx-4 my-2 border-2 px-8 py-8">
    <img class="flex-none flex rounded-full basis-12 w-12 h-12" src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png"/>
        
    <div class="flex-grow gap-5">
        <textarea class="w-full focus:outline-none text-xl" rows="1" placeholder="What's happening?"></textarea>
        <div class="w-full">
            <button class="float-right transition border-2 border-blue-500 py-1 px-2 rounded-full bg-blue-500 text-white hover:text-blue-500 hover:bg-white">Submit</button>
        </div>
    </div>
</div>


@code {

}
