<div class="header">
    <a href="/" class="header__logo">Kwetter</a>

    <ul class="navbar">
        <li class="navbar__item">Trending</li>
        <li class="navbar__item">Account</li>
    </ul>
</div>

@code {

}
