@using Kwetter.Web.Shared.Header

@inherits LayoutComponentBase

<div class="page">
    <main>
        <Header />
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
